nav{
    background-color: #fff159;
    height: 70px;
}

.navigation{
    display: flex;
}
.icon{

    width: 25%;
    align-items: center;
    margin: auto 0 auto 30px;
}
.icon img{
    height: 40px;

}
.container-search{
    display: flex;
    margin: auto 0;
    width: 80%;
}
.search {
    height: 29px;
    width: 100%;
    border: none;
    padding: 0.35rem 0.4rem;
    border-bottom-left-radius: 0.2rem;
    border-top-left-radius: 0.2rem;

}
.button-search{
    margin-right: 20px;
    border: none;
    padding: 0.35rem 0.7rem;
    border-bottom-right-radius: 0.2rem;
    border-top-right-radius: 0.2rem;
    transition: background-color 0.4s ease-in-out;
}
.button-search:hover{
    background-color: rgba(210,210,210,0.9);
    cursor: pointer;

}
.main-section{
    padding: 20px 10% ;
    background-color: rgba(0,0,0,.1);
    /*height: 100vh;*/
}
.card {
    background-color: #ffffff;
    padding: 1rem  0;
    display: flex;
    border-bottom: 1px solid rgba(0,0,0,.1);
    transition: background-color ease-in-out 0.4s ;
}
.card:hover{
    background-color: rgba(0,0,0,.05);
    cursor: pointer;
}
.img-card {
    margin: 0 1rem;
}
.img-card img{
    border-radius: .2rem;
}
.card-title {
    margin: 1rem 0;
}
.card-body {
    width: 80%;
}
.card-description {
    font-size: 17px;
    text-align: justify;
    margin-right: 2rem;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    max-width: 500px;

}
.city-card{
    margin: 2rem;
    font-size: 14px;
    text-align: center;
    width: 20%;
}
.detail-container {
    background-color: #ffffff;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-gap: 1rem;
    grid-template-rows: repeat(2,1fr);
    border-radius: .3rem;

}
.detail-image{
    grid-column: 1/3;
    grid-row: 1/2;
    padding: 1rem 2rem 5rem 2rem;
    /*background-color: #fff159;*/

}
.image{
    width: 100%;
    border-radius: .3rem;
}
.detail-price{
    grid-column: 3;
    grid-row: 1/3;
    /*background-color: red;*/
    padding: 1rem 2rem;
}
.detail-description{
    grid-column: 1/3;
    grid-row: 2/2;
    padding: 1rem 2rem;
    text-align: justify;
    /*background-color: #3483fa;*/
}
.title-description{
    font-size: 35px;
}
.description{
    margin: 20px 0;
    font-size: 14px;
    color: rgba(0,0,0,.55);
}
.category{
    color: rgba(0,0,0,.55);
    font-size: 16px;
}
.title{
    font-size: 22px;
    margin-top: 0.5rem;
}
.price{
    margin-top: 1rem;
    font-size: 30px;
}
.btn-buy{
    width: 100%;
    background-color: #3483fa;
    padding: 12px;
    color: white;
    border: none;
    border-radius: 0.2rem;
    margin-top: 2rem;
}
.btn-buy:hover{
   cursor: pointer;
    background-color: #206bdc;
}
.decimal{
    font-size: 16px;
    height: 30px;
    display: inline-block;
}
.breadcrumb{
    color: rgba(0,0,0,.6);
    font-size: 16px;
    margin-bottom: 1rem;
}

@keyframes skeleton-loading {
    0% {
        background-color: hsl(200, 20%, 80%);
    }
    100% {
        background-color: hsl(200, 20%, 95%);
    }
}
