*{
    margin: 0;
    padding: 0;
}
@font-face {
    font-family: 'Proximanova';
    font-weight: normal;
    src: local('Proximanova'), url(/src/assets/fonts/proximanova-regular.woff2) format('woff');
}
@font-face {
    font-family: 'Proximanova';
    font-weight: bold;
    src: local('Proximanova'), url(/src/assets/fonts/proximanova-semibold.woff2) format('woff');
}
*{
    font-family: Proximanova, sans-serif;
}