
.card-skeleton{
    background-color: #ffffff;
    padding: 1rem  0;
    display: flex;
    border-bottom: 1px solid rgba(0,0,0,.1);
}

.img-card-skeleton {
    margin: 0 1rem;
    border-radius: .2rem;
    padding: 100px;
    background-color: gray;
    animation: skeleton-loading 1s linear infinite alternate;
}

.card-title-skeleton {
    margin: 1rem 30px 1rem 0;
    background-color: gray;
    padding: 20px;
    /*margin-right: 30px;*/
    animation: skeleton-loading 1s linear infinite alternate;
}
.card-body-skeleton{
    width: 80%;
}
.card-description-skeleton {
    font-size: 17px;
    text-align: justify;
    margin-right: 2rem;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    max-width: 500px;
    background-color: gray;
    padding: 80px;
    animation: skeleton-loading 1s linear infinite alternate;

}
.city-card-skeleton{
    margin: 2rem;
    width: 20%;
    height:20px;
    background-color: gray;
    animation: skeleton-loading 1s linear infinite alternate;
}
