.detail-container-skeleton {
    background-color: #ffffff;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-gap: 1rem;
    grid-template-rows: repeat(2,1fr);
    border-radius: .3rem;


}
.detail-image-skeleton{
    grid-column: 1/3;
    grid-row: 1/2;
    margin: 1rem 2rem 5rem 2rem;
    background-color: gray;
    padding: 200px;
    /*background-color: #fff159;*/
    animation: skeleton-loading 1s linear infinite alternate;

}
.detail-price-skeleton{
    grid-column: 3;
    grid-row: 1/3;
    padding: 1rem 2rem;

}
.detail-description-skeleton{
    grid-column: 1/3;
    grid-row: 2/2;
    padding: 1rem 2rem;
    text-align: justify;
    /*background-color: #3483fa;*/
}
.title-description-skeleton{
    font-size: 35px;
    padding: 50px;
}
.description-skeleton{
    margin: 20px 0;
    font-size: 14px;
    color: rgba(0,0,0,.55);
    background-color: gray;
    padding: 200px;
    animation: skeleton-loading 1s linear infinite alternate;
}
.category-skeleton{
    color: rgba(0,0,0,.55);
    font-size: 16px;
}
.title-skeleton{
    font-size: 22px;
    margin-top: 0.5rem;
    background-color: gray;
    padding: 20px;
    animation: skeleton-loading 1s linear infinite alternate;
}
.price-skeleton{
    margin-top: 1rem;
    font-size: 30px;
    background-color: gray;
    padding: 15px;
    animation: skeleton-loading 1s linear infinite alternate;
}
.btn-buy-skeleton{
    width: 100%;
    background-color: gray;
    padding: 12px;
    color: white;
    border: none;
    border-radius: 0.2rem;
    margin-top: 2rem;
    animation: skeleton-loading 1s linear infinite alternate;
}

.decimal-skeleton{
    font-size: 16px;
    height: 30px;
    display: inline-block;
}
.breadcrumb-skeleton{
    color: rgba(0,0,0,.6);
    font-size: 16px;
    margin-bottom: 1rem;
    background-color: gray;
    padding: 10px;
    animation: skeleton-loading 1s linear infinite alternate;
}